.navbar-brand{
    font-weight: bolder;
    font-size: 2rem;
  }
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav-item .nav-link{
    font-size: 1.1rem;
  }
  .nav-item{
    margin-left: 10px;
  }

  .carousel-inner{
width:100%;
height: 100vh !important;
}
.about-us-css{
  background: linear-gradient(90deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
  /* background-color: rgb(0, 0, 0); */
  height: 100vh !important;
}
.card .card-body:hover{
  background-color: orange;
  color: white;
}
.card:hover{
  border-bottom: 8px solid black !important;

}
